<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagename %}Главная страница{% endblock %}</title>
</head>
<body>
    <h1>{% block page_title %}Главная страница{% endblock %}</h1>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/shop/">Магазин</a></li>
            <li><a href="/cart/">Корзина</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>